# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
.env
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
*.csv
*.xlsx
data/raw/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
